* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f6e8e8;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #55D6C2;
    gap: 16px;
}

header img {
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.links div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.links div img {
    width: 32px;
    height: 32px;
}

.links a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: cursive;
}

.links a:hover {
    transition: border-bottom ease-in-out 400ms;
    border-bottom: 2px solid #F2F5FF;
}

.core-container {
    margin: 5% auto;
    max-width: 80%;
    min-height: 400px;
    background-color: white;
    border-radius: 8px;
    border: 2px outset lightblue;
    box-shadow: 5px 5px 6px lightgrey;

    display: grid;
    grid-template-columns: 30% 70%;
}

.avatar-content {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 40% 60%;
    box-sizing: content-box;
    border-right: 2px solid lightblue;
}

.avatar-content img {
    margin-top: 1em;
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid lightblue;
    box-shadow: 1px 2px 5px lightblue;
}

#details {
    padding: 16px 4px;
    height: 100px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    row-gap: 16px;
    column-gap: space-between;
}

#details p {
    color: #8F110D;
    border-bottom: 1px solid lightgray;
    font-style: italic;
}

.personal-info span {
    display: flex;
    justify-content: center;
    font-family: cursive;
    background-color: aquamarine;
    border-radius: 4px;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 0px;
}

#technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #F2F5FF;
    border: 1px solid lightgrey;
    padding: 8px 0;
    border-radius: 4px;
}

#technologies img {
    margin-top: 0;
    width: 32px;
    height: 32px;
    border: none;
    box-shadow: none;
}

.about {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 8px 16px;
    gap: 16px;
}

.about h2 {
    font-family: 'Courier New', Courier, monospace;
    color: lightseagreen;
}

.about div div:nth-child(2) {
    margin: 4px;
}