* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f6e8e8;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #55D6C2;
    gap: 16px;
}

header img {
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.links div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.links div img {
    width: 32px;
    height: 32px;
}

.links a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: cursive;
}

.links a:hover {
    transition: border-bottom ease-in-out 400ms;
    border-bottom: 2px solid #F2F5FF;
}

.core-container {
    margin: 5% auto;
    max-width: 80%;
    min-height: 400px;
    background-color: #542072;
    border-radius: 8px;
    border: 2px outset lightblue;
    box-shadow: 5px 5px 6px lightgrey;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
}

.project {
    margin: 8px;
    background-image: url(/images/website.jpg);
    border-radius: 8px;
    display: grid;
    justify-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.description {
    margin: 4px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.description p {
    background-color: #f5e96088;
    font-weight: bolder;
    padding: 4px 8px;
    border-radius: 8px;
}

.project #title {
    z-index: 2;
    color: rgba(255, 228, 196, 0.582);
    font-family: fantasy;
    letter-spacing: 2px;
    text-align: center;
}